<div class="container">
    <div>
        <H2>Change Password</H2>
    </div>
    <form class="form" method="POST">
        <input type="hidden" name="id" value="{{form.id}}">
        <div class="modal-body">
            <div class="form-group row">
                <label class="col-lg-3 form-control-label">Old Password * </label>
                <div class="col-lg-9">
                    <input class="form-control" name="oldPassword" value="{{form.oldPassword}}">
                    <span style="color: red;"> {{form.inputError.oldPassword}} </span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-3 form-control-label">Password * </label>
                <div class="col-lg-9">
                    <input class="form-control" name="newPassword" value="{{form.newPassword}}">
                    <span style="color: red;"> {{form.inputError.newPassword}} </span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-3 form-control-label">Confirm Password * </label>
                <div class="col-lg-9">
                    <input class="form-control" name="confirmPassword" value="{{form.confirmPassword}}">
                    <span style="color: red;"> {{form.inputError.confirmPassword}} </span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-lg-12">
                    <button type="submit" class="btn btn-primary form-control">Save
                        <span class="fas fa-paper-plane"></span>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>