<H1>Course</H1>

{% if form.error  %}
    <p style="color: red;"> {{form.message}}</p>
{% else %}
    <p style="color: green;"> {{form.message}}</p>
{% endif %}

<form method="POST">
    <input type="hidden" name="id" value="{{form.id}}">
    <br>
    Name <input name="courseName" value="{{form.courseName}}">
    <span style="color: red;"> {{form.inputError.courseName}} </span>
    <br>
    Description <input name="courseDescription" value="{{form.courseDescription}}"> 
    <span style="color: red;"> {{form.inputError.courseDescription}} </span>    
    <br>
    Duration <input name="courseDuration" value="{{form.courseDuration}}"> 
    <span style="color: red;"> {{form.inputError.courseDuration}} </span>    
    <br>

    <input type="submit" value="Save">
    <a href="/ORS/CourseList"> List </a>
</form>