<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

<div class="col-sm-6">
    <div class="card">
        <div class="card-header">
            <h2>Forgot Password</h2>
        </div>
        <div class="card-body">
            <div class="container">
                {% if form.error %}
                <p style="color: red;"> {{form.message}}</p>
                {% else %}
                <p style="color: green;"> {{form.message}}</p>
                {% endif %}

                <form method="POST">
                    <div class="form-group">
                        <label class="col-md-12 control-label">Enter your Login Email</label>
                        <div class="col-md-12">
                            <input class="form-control" name="loginId" value="{{form.loginId}}" type="email" placeholder="you@example.com">
                            <span style="color: red;"> {{form.inputError.loginId}} </span>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <button type="submit" class="btn btn-primary form-control">
                            <i class="fas fa-paper-plane"></i> Send My Password
                        </button>
                    </div>
                    <div class="form-group col-md-12 text-center">
                        <a href="/ORS/Login">Back to Login</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% include "./Footer.html"%}
