{% load static %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" crossorigin="anonymous"></script>

<!--Used for icon-->
<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
        <img src="{% static 'images/logo.png' %}" alt="Rays" style="height: 40px;">
    </a>
    <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

            {% if request.session.user %}

            <!-- Administration -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="adminDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Administration
                </a>
                <div class="dropdown-menu" aria-labelledby="adminDropdown">
                    <a class="dropdown-item" href="/ORS/Role">Role</a>
                    <a class="dropdown-item" href="/ORS/RoleList">Role List</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/ORS/User">User</a>
                    <a class="dropdown-item" href="/ORS/UserList">User List</a>
                </div>
            </li>

            <!-- Institution -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="institutionDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Institution
                </a>
                <div class="dropdown-menu" aria-labelledby="institutionDropdown">
                    <a class="dropdown-item" href="/ORS/College">College</a>
                    <a class="dropdown-item" href="/ORS/CollegeList">College List</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/ORS/Course">Course</a>
                    <a class="dropdown-item" href="/ORS/CourseList">Course List</a>
                </div>
            </li>

            <!-- People -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="peopleDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    People
                </a>
                <div class="dropdown-menu" aria-labelledby="peopleDropdown">
                    <a class="dropdown-item" href="/ORS/Faculty">Faculty</a>
                    <a class="dropdown-item" href="/ORS/FacultyList">Faculty List</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/ORS/Student">Student</a>
                    <a class="dropdown-item" href="/ORS/StudentList">Student List</a>
                </div>
            </li>

            <!-- Academics -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="academicsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Academics
                </a>
                <div class="dropdown-menu" aria-labelledby="academicsDropdown">
                    <a class="dropdown-item" href="/ORS/Marksheet">Marksheet</a>
                    <a class="dropdown-item" href="/ORS/MarksheetList">Marksheet List</a>
                </div>
            </li>

            {% endif %}

        </ul>

        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            {% if request.session.user %}
            <!-- Logged-in user dropdown -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user-circle"></i> {{ request.session.firstName }} {{ request.session.lastName }}
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="/ORS/auth/ChangePassword">
                        <i class="fas fa-key"></i> Change Password
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/ORS/auth/Logout">
                        <i class="fas fa-sign-out-alt"></i> Logout
                    </a>
                </div>
            </li>
            {% else %}
            <!-- Guest links -->
            <li class="nav-item">
                <a class="nav-link" href="/ORS/auth/Login">
                    <i class="fas fa-sign-in-alt"></i> Login
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/ORS/Registration">
                    <i class="fas fa-user-plus"></i> Register
                </a>
            </li>
            {% endif %}
        </ul>

    </div>
</nav>
