{% include "./Header.html"%}

<div class="container">
    <div class="modal-dialog">
        {% if form.error %}
        <p style="color: red;"> {{form.message}}</p>
        {% else %}
        <p style="color: green;"> {{form.message}}</p>
        {% endif %}

        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title ">Marksheet Information</h4>
            </div>
            <form method="POST">
                <input type="hidden" name="id" value="{{form.id}}">
                <div class="modal-body">
                    <div class="form-group row">
                        <label class="col-lg-3 form-control-label">Roll No * </label>
                        <div class="col-lg-9">
                            <input name="rollNumber" value="{{form.rollNumber}}" class="form-control">
                            <span style="color: red;"> {{form.inputError.rollNumber}} </span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 form-control-label">Year * </label>
                        <div class="col-lg-9">
                            <input class="form-control" type="number" name="year" value="{{form.year}}">
                            <span style="color: red;"> {{form.inputError.year}} </span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 form-control-label">Student </label>
                        <div class="col-lg-9">
                            {{ preload_data.student_select|safe }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 form-control-label">Physics * </label>
                        <div class="col-lg-9">
                            <input class="form-control" type="number" name="physics" value="{{form.physics}}">
                            <span style="color: red;"> {{form.inputError.physics}} </span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 form-control-label">Chemistry * </label>
                        <div class="col-lg-9">
                            <input class="form-control" type="number" name="chemistry" value="{{form.chemistry}}">
                            <span style="color: red;"> {{form.inputError.chemistry}} </span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 form-control-label">Maths * </label>
                        <div class="col-lg-9">
                            <input class="form-control" type="number" name="maths" value="{{form.maths}}">
                            <span style="color: red;"> {{form.inputError.maths}} </span>
                        </div>
                    </div>


                    {% if form.id %}
                    <div class="form-group row">
                        <label class="col-lg-3 form-control-label">Total</label>
                        <div class="col-lg-9">
                            <input class="form-control-plaintext font-weight-bold" readonly value="{{form.total}} / 300">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 form-control-label">Percentage</label>
                        <div class="col-lg-9">
                            <input class="form-control-plaintext font-weight-bold" readonly value="{{form.percentage}} %">
                        </div>
                    </div>
                    {% endif %}

                    <div class="form-group row">
                        <div class="col-lg-12">
                            <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Save</button>
                            <a href="/ORS/MarksheetList" class="btn btn-secondary"><i class="fas fa-list"></i> List</a> {% if form.id %}
                            <a href="/ORS/MarksheetList/delete/{{form.id}}" class="btn btn-danger">
                                <i class="fas fa-trash"></i> Delete
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% include "./Footer.html"%}
</div>