<!DOCTYPE html>
<html lang="en">

<head>
    <title>Document</title>
</head>

<body>
    <H1>Role List </H1>

    <table>
        <tr>
            <form method="POST">
                <td>Name <input name="name" value="{{form.name}}"></td>
                <td>Description <input name="description" value="{{form.description}}"></td>
                <td><input type="submit" value="Search"></td>
            </form>
        </tr>
    </table>

    <table border="1" width="50%">
        {% for e in pageList %}
        <tr>
            <td>{{e.id}}</td>
            <td>{{e.name}}</td>
            <td>{{e.description}}</td>
            <td><a href="/ORS/Role/{{e.id}}"> Edit </a></td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>