{% include "./Header.html"%}

<div class="container">
    <div class="modal-dialog">
        {% if form.message %}
        <div class="alert {% if form.error %}alert-danger{% else %}alert-success{% endif %} alert-dismissible fade show" role="alert">
            <strong>{% if form.error %}Error:{% else %}Success:{% endif %}</strong> {{form.message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}

        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title ">Student Information</h4>
            </div>
            <form method="POST">
                <input type="hidden" name="id" value="{{form.id}}">
                <div class="modal-body">
                    <div class="form-group row">
                        <label class="col-lg-3 form-control-label">First Name * </label>
                        <div class="col-lg-9">
                            <input name="firstName" value="{{form.firstName}}" class="form-control">
                            <span style="color: red;"> {{form.inputError.firstName}} </span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 form-control-label">Last Name * </label>
                        <div class="col-lg-9">
                            <input class="form-control" name="lastName" value="{{form.lastName}}">
                            <span style="color: red;"> {{form.inputError.lastName}} </span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 form-control-label">College * </label>
                        <div class="col-lg-9">
                            {{ preload_data.college_select|safe }}
                            <span style="color: red;"> {{form.inputError.college_ID}} </span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 form-control-label">Date Of Birth * </label>
                        <div class="col-lg-9">
                            <input style="cursor: pointer" type="date" name="dob" value="{{form.dob}}" class="form-control" placeholder="DD-MM-YYYY" />
                            <span style="color: red;"> {{form.inputError.dob}} </span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 form-control-label">Mobile * </label>
                        <div class="col-lg-9">
                            <input class="form-control" name="mobileNumber" value="{{form.mobileNumber}}">
                            <span style="color: red;"> {{form.inputError.mobileNumber}} </span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 form-control-label">Email * </label>
                        <div class="col-lg-9">
                            <input class="form-control" name="email" value="{{form.email}}">
                            <span style="color: red;"> {{form.inputError.email}} </span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-lg-12">
                            <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Save</button>
                            <a href="/ORS/StudentList" class="btn btn-secondary"><i class="fas fa-list"></i> List</a> {% if form.id %}
                            <a href="/ORS/StudentList/delete/{{form.id}}" class="btn btn-danger">
                                <i class="fas fa-trash"></i> Delete
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% include "./Footer.html"%}
</div>
