<!DOCTYPE html>
<html lang="en">

<head>
    <title>Document</title>
</head>

<body>
    <H1>Student List </H1>

    <table>
        <tr>
            <form method="POST">
                <td>firstName <input name="firstName" value="{{form.firstName}}"></td>
                <td>lastName <input name="lastName" value="{{form.lastName}}"></td>
                <td>email <input name="email" value="{{form.email}}"></td>
                <td><input type="submit" value="Search"></td>
            </form>
        </tr>
    </table>

    <table border="1" width="50%">
        {% for e in pageList %}
        <tr>
            <td>{{e.id}}</td>
            <td>{{e.firstName}}</td>
            <td>{{e.lastName}}</td>
            <td>{{e.mobileNumber}}</td>
            <td>{{e.email}}</td>
            <td>{{e.college_ID}}</td>
            <td>{{e.collegeName}}</td>
            <td><a href="/ORS/Student/{{e.id}}"> Edit </a></td>
        </tr>
        {% endfor %}
    </table>
    <a href="/ORS/Student"> New </a>
</body>

</html>