<!DOCTYPE html>
<html lang="en">

<head>
    <title>Document</title>
</head>

<body>
    <H1>User List </H1>

    <table>
        <tr>
            <form method="POST">
                <td>Name <input name="firstName" value="{{form.firstName}}"></td>
                <td>Last Name <input name="lastName" value="{{form.lastName}}"></td>
                <td>Login <input name="login" value="{{form.login}}"></td>
                <td><input type="submit" value="Search"></td>
            </form>
        </tr>
    </table>

    <table border="1" width="50%">
        {% for e in pageList %}
        <tr>
            <td>{{e.id}}</td>
            <td>{{e.firstName}}</td>
            <td>{{e.lastName}}</td>
            <td>{{e.login}}</td>
            <td><a href="/ORS/User/{{e.id}}"> Edit </a></td>
        </tr>
        {% endfor %}
    </table>
    <a href="/ORS/User"> New </a>
</body>

</html>