{% include  "./Header.html"%}
<div class="container">
    <style>
        mark {
            background-color: #e3f1fca1;

            -webkit-box-shadow: 2px 9px 38px -1px rgba(139, 229, 232, 1);
            -moz-box-shadow: 2px 9px 38px -1px rgba(139, 229, 232, 1);
            box-shadow: 2px 9px 38px -1px rgba(139, 229, 232, 1);
        }
    </style>

    <div class="d-flex" style="margin-top: 15%">
        <div class="mx-auto">
            <p>
                <h1><mark>Welcome to "ONLINE RESULT SYSTEM"</mark></h1>
            </p>
            <h6>{{form.message}}</h6>

        </div>
    </div>
</div>
{% include  "./Footer.html"%}
