{% include  "./Header.html"%}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div>
            <H2>Marksheet</H2>
        </div>
        <form method="POST">
            <div class="form-group row">
                <div class="col-lg-3">
                    <input class="form-control" name="rollNumber" value="{{form.rollNumber}}" placeholder="RolleNo">
                </div>
                <div class="col-lg-3">
                    <input class="form-control" name="name" value="{{form.name}}" placeholder="Name">
                </div>
                <div class="col-lg-1">
                    <button class="btn btn-primary" ng-click="search()">Search
                        <i class="fas fa-search"></i>
                    </button>
                </div>
                <div class="offset-lg-4">
                    <a href="/ORS/Marksheet">
                        <font class="btn btn-success" data-target="#update" data-toggle="modal">Add
                            <i class="fas fa-plus-circle"></i>
                        </font>
                    </a>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-sm table-bordered table-hover table-responsive-sm">
                    <thead class="thead-dark">
                        <th scope="row">#</th>
                        <th scope="row">Roll No </th>
                        <th scope="row">Name</th>
                        <th scope="row">Physics </th>
                        <th scope="row">Chemistry </th>
                        <th scope="row">Maths </th>
                        <th scope="row">Action</th>
                    </thead>
                    <tbody>
                        {% for e in pageList %}
                        <tr>
                            <td>{{e.id}}</td>
                            <td>{{e.rollNumber}}</td>
                            <td>{{e.name}}</td>
                            <td>{{e.physics}}</td>
                            <td>{{e.chemistry}}</td>
                            <td>{{e.maths}}</td>
                            <td><a href="/ORS/Marksheet/{{e.id}}">
                                    <font type="button" ng-click="display(data.id)" data-target="#update"
                                        data-toggle="modal" class="btn btn-primary">
                                        <i class="fas fa-edit">
                                        </i>
                                    </font>
                                </a></td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
</body>

</html>
{% include  "./Footer.html"%}